// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");


.card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  .card-thumb{
    width: 900px;
    height: auto;
    border-radius: 20px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    .badge-background{
      background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
    }

    img{
      width: 100%;
    }
  }

  .card-content{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
    /*padding-left: 180px;
    margin-left: -140px;*/
    background-color: #ffffff;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);


  }

  .card-date{
    font-size: 0.85rem;
    font-weight: bold;
  }

  .card-btn{
    display: block;
    background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    width: max-content;
    font-size: 1.1rem;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);


  }


}